body {
	font-family: 'Open Sans Light';
	color: #009900;
}

#game {
	border-bottom: 4px solid #666666;
}

table {
	border: solid 1px #666666;
}

.planet-select {
	width: 30%;
	border-collapse: collapse;
	float: left;
	padding: 3px;
	color: #009900;
	text-align: center;
}

#action-wrap {
	border-collapse: collapse;
	margin-top: 30px;
	text-align: center;
	width: 110px;
}

.amt {
	margin-bottom: -2px;
}
.ppl {
	font-size: 12px;
}
.cost {
	font-size: 8px;
}

.planet-select td {
	padding: 3px;
}
.planet-select td:hover, #action-wrap td:hover {
	background-color: #333333;
}

#planet-ui {
	width: 50%;
	height: 93px;
	float: left;
	border: solid 1px;
	padding: 2px;
	margin: 9 9 9 0;
	
}
#middle-display {
	text-align: center;
	float: left;
	width: 15%;
	padding-top: 20px;
}
.mid-h {
	font-size: 12;
}
#res, #pop {
	font-size: 15;
	font-weight: bold;
}
#sel-info {
	float: right;
	font-size: 10px;
	padding: 3px;
	width: 124px;
}
.sel-h {
	font-weight: bold;
}
#sel-name {
	font-size: 15px;
	font-weight: bold;
	float: left;
	margin: 5px;
}
#wrap {
	width: 500px;
	height: 521px;
	background-color: #222222;
	color: #009900;
}

svg {
  width: 15px;
  height: 20px;
  stroke-width: 20;
  stroke: #009900;
  fill: #009900;
}